@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">radio = 45, diametro = radio*2, 
        perimetro = pi*diametro = 282.744</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>